/*
	Contents
	1. General
	2. Preloader
	3. Navbar
	4. Home Card
	5. Services
	6. Skills
	7. Contact
	8. Animations
	9. Responsive
*/

/*
	1. General
*/

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: #18e77c;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: #0d1d26;
	border-radius: 4px;
}

body {
	font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji' !important;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color: #ffffff8c;
	background: #0d1d26;
}

div[class*='-card'] {
	border-radius: 0.25rem;
	background: #051118;
	box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840;

	.card-content {
		.title {
			color: #ffffffd9;

			h3 {
				line-height: 21px;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -12px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: linear-gradient(135deg, #18e77c66, #18e77c1a);
			}

			&::after {
				content: '';
				position: absolute;
				left: -60px;
				bottom: -15px;
				width: 95%;
				height: 1px;
				background: linear-gradient(to right, #ffffff66 0%, transparent 70%);
			}
		}

		.content::before {
			content: '';
			position: absolute;
			top: -1px;
			left: -17px;
			width: 1px;
			height: 100%;
			background: linear-gradient(to bottom, #ffffff66 0%, transparent 90%);
		}
	}
}

.modern-arrow {
	position: relative;

	&,
	&::before {
		display: inline-block;
		background: #ffffffd9;
		width: 14px;
		height: 2px;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 3px;
		right: 0;
		width: 8px;
		height: 2px;
		transform: rotate(45deg);
	}
}

/*
	2. Preloader
*/

.preloader {
	z-index: 1000;
	opacity: 1;
	transition-duration: 1s;
	pointer-events: none;

	.spinner {
		& > [class^='double'] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			opacity: 1;
			background: #18e77c;
			animation: sk-bounce 2s infinite ease-in-out;
		}

		.double-bounce2 {
			animation-delay: -1s;
			opacity: 0.1;
		}
	}
}

/*
    3. Navbar
*/

.navbar {
	z-index: 900;
	width: calc(100% - 12px);
	transform: translateX(calc(-50% - 6px));
	box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840;

	nav ul li {
		a {
			width: 65px;
			height: 75px;
			transition-duration: 0.3s;
		}
	}
}

/*
	4. Home Card
*/

.home-card {
	height: 500px;

	.background-image {
		height: 45%;

		img {
			clip-path: polygon(100% 0, 100% 85%, 60% 100%, 0 75%, 0 0);
			object-position: 20% 50%;
		}
	}

	.profile-image {
		top: 45%;
		--tw-translate-y: -45%;

		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: -10px;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: linear-gradient(135deg, #18e77c66, #18e77c1a);
		}		
	}

	.name {
		h1 {
			line-height: 30px;
		}
	}

	.social a {
		transition-duration: 0.3s;
	}

	.links {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: linear-gradient(to right, #ffffff0d, #ffffff8c, #ffffff0d);
		}

		&::after {
			content: '';
			position: absolute;
			top: 1px;
			left: 50%;
			width: 1px;
			transform: translateX(-50%);
			height: 100%;
			background: linear-gradient(to bottom, #ffffff8c, #ffffff0d);
		}

		a {
			line-height: 70px;
			transition-duration: 0.3s;

			&:hover {
				color: #18e77c;

				.modern-arrow,
				.modern-arrow::before {
					background: #18e77c;
				}
			}
		}
	}
}

/*
	5. Services
*/

.services-card {
	.service {
		&:last-child::before {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: -16px;
			width: 100%;
			height: 1px;
			background: linear-gradient(to right, #ffffff66, transparent);
		}
		.icon {
			background: linear-gradient(135deg, #18e77c66, #18e77c1a);
		}
	}
}

/*
	6. Skills
*/

.skills-card {
	.skill-circle {
		.progress-ring__circle {
			transform: rotate(-90deg);
			transform-origin: 50% 50%;
			stroke-dasharray: 245.044 245.044;
		}
	}
}

/*
	7. Contact
*/

.contact-card {
	.card-content {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 1.5rem;
		}
	}
}

/*
	8. Animations
*/

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

@keyframes changeInfoCard {
	0%,
	100% {
		transform: translateX(0) translateY(-50%);
	}

	50% {
		transform: translateX(-100%) translateY(-50%);
	}
}

/*
	9. Responsive
*/

@media (min-width: 512px) {
	.services-card {
		.service {
			&::before {
				display: none;
			}

			&:nth-child(2n + 1) {
				padding-right: 10px;
			}

			&:nth-child(2n + 2) {
				padding-left: 10px;
			}
		}
	}

	.skills {
		.content {
			&:last-child {
				&::before {
					display: none;
				}
			}
		}
	}

	.contact-card {
		.card-content {
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 1.5rem;
			}

			.form-input {
				&:nth-child(2n) {
					padding-left: 4px;
				}

				&:nth-child(2n + 1) {
					padding-right: 4px;
				}
			}
		}
	}
}

@media (min-width: 870px) {
	.hid {
		position: absolute;
		top: 50%;
		transform: translate(-80px, -41%);
		left: -50%;
		width: 100%;
		height: 505px;
		background: #0d1d26;
		z-index: 40;
	}

	.info {
		box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840 !important;

		&.animate {
			animation: changeInfoCard 2s ease-in-out;
		}

		div[class*='-card'] {
			box-shadow: none;
			display: none;

			&.active {
				display: block;
			}
		}
	}
}

@media (min-width: 1050px) {
	.hid {
		position: absolute;
		top: 50%;
		transform: translate(-50px, -42%);
		left: -50%;
		width: 100%;
		height: 85%;
		background: #0d1d26;
		z-index: 40;
	}

	.home-card {
		.background-image {
			height: 50%;

			img {
				clip-path: polygon(100% 0, 100% 85%, 60% 100%, 0 75%, 0 0);
			}
		}

		.profile-image {
			top: 50%;
			--tw-translate-y: -50%;
		}
	}
}
