/*
	Colors
*/
/*
	1. General
*/
body {
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #ffffff8c;
  background: #0d1d26;
}

div[class*='-card'] {
  border-radius: 0.25rem;
  background: #051118;
  -webkit-box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840;
          box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840;
}

div[class*='-card'] .content .title {
  color: #ffffffda;
}

div[class*='-card'] .content .title h3 {
  line-height: 21px;
}

div[class*='-card'] .content .title::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(135deg, #18e77c66, #18e77c1a);
}

div[class*='-card'] .content .title::after {
  content: '';
  position: absolute;
  left: -60px;
  bottom: -15px;
  width: 95%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff8c), to(transparent));
  background: linear-gradient(to right, #ffffff8c, transparent);
}

.modern-arrow {
  position: relative;
}

.modern-arrow, .modern-arrow::before {
  display: inline-block;
  background: #ffffffda;
  width: 14px;
  height: 2px;
}

.modern-arrow::before {
  content: '';
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 8px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*
	1. Preloader
*/
.preloader {
  background: #051118;
  z-index: 1000;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  pointer-events: none;
}

.preloader .spinner > [class^='double'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  background: #18e77c;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
          animation: sk-bounce 2s infinite ease-in-out;
}

.preloader .spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  opacity: 0.1;
}

/*
    2. Navbar
*/
.navbar {
  z-index: 900;
  width: calc(100% - 12px);
  background: #051118;
  -webkit-box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840;
          box-shadow: 5px 5px 15px #05111880, -5px -5px 15px #05111840;
}

.navbar nav ul li a {
  font-size: 11px;
  width: 55px;
  height: 75px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navbar nav ul li a:hover {
  color: #18e77c;
}

.navbar nav ul li a .icon {
  font-size: 18px;
}

/*
	3. Home Card
*/
.home-card {
  height: 500px;
}

.home-card .background-image {
  height: 45%;
}

.home-card .background-image img {
  -webkit-clip-path: polygon(100% 0, 100% 85%, 60% 100%, 0 75%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 60% 100%, 0 75%, 0 0);
}

.home-card .profile-image {
  top: 45%;
  --tw-translate-y: -45%;
  width: 125px;
  height: 125px;
}

.home-card .profile-image img {
  border-color: #051118;
}

.home-card .profile-image::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(135deg, #18e77c66, #18e77c1a);
}

.home-card .name {
  color: #ffffffd9;
}

.home-card .name h1 {
  line-height: 30px;
}

.home-card .occupation h2 {
  color: #18e77c;
}

.home-card .social a {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.home-card .social a:hover {
  color: #ffffffd9;
}

.home-card .social a .icon {
  font-size: 16px;
}

.home-card .links::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff0d), color-stop(#ffffff8c), to(#ffffff0d));
  background: linear-gradient(to right, #ffffff0d, #ffffff8c, #ffffff0d);
}

.home-card .links::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 50%;
  width: 0.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff8c), to(#ffffff0d));
  background: linear-gradient(to bottom, #ffffff8c, #ffffff0d);
}

.home-card .links a {
  color: #ffffffda;
  line-height: 70px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.home-card .links a:hover {
  color: #18e77c;
}

.home-card .links a:hover .modern-arrow,
.home-card .links a:hover .modern-arrow::before {
  background: #18e77c;
}

/*
	*. Animations
*/
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */