* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {    
	width: 100%;
	min-height: 100vh;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color: #ffffff8c;
	background: #071720;
}

/*
    1. Navbar
*/

header {
    position: fixed;
    width: calc(100% - 10px);
	border-radius: 5px;
    margin: 5px;
	background: #051118;
	box-shadow: 5px 5px 15px #05111880, 5px 5px 25px #05111880, -5px -5px 15px #05111840;

	nav {
		ul {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			li {
				list-style: none;

				a {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					color: #ffffffd9;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 11px;
					font-weight: 500;
					width: 55px;
					height: 75px;
					transition: 0.3s;

					&:hover,
					&.active {
						color: #18e77c;
					}

					.fa {
						font-size: 18px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
